body {
  margin: 0;
  font: 15px/1.5 "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topr {
  height: 111px;
  padding: 1px 0 0;
}
.nav-area {
  background-color: #696a6c;
}
ul.navr {
  list-style: none outside;
  padding: 0;
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}
li.navitem {
  display: inline-block;
}
a.navitem-a {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
}
li.navitem:hover > a {
  background-color: #7e81be;
}
.navitem-megamenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #7e81be;
  padding: 5px 0;
}
.navitem-megamenu,
.navitem-megamenu * {
  box-sizing: border-box;
}
.navitem.active .navitem-megamenu {
  display: block;
}
.navitem-megamenu-container {
  display: flex;
}

.megamenu-categories,
.megamenu-items {
  max-height: calc(100vh - 186px);
  min-height: 333px;
  overflow: hidden;
  overflow-y: auto;
  /* background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll; */
}
.megamenu-categories {
  padding-top: 5px;
  flex-shrink: 0;
  /* background: linear-gradient(#7e81be 30%, rgba(126, 129, 190, 0)),
    linear-gradient(rgba(126, 129, 190, 0), #7e81be 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      )
      0 100%; */
  background-color: #7e81be;
}
.megamenu-category {
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 44px;
  padding: 0 2rem;
  white-space: nowrap;
  cursor: default;
}
.megamenu-category.active {
  background-color: #e5e6f1;
  color: #7e81be;
}
.megamenu-items {
  padding: 5px 1rem;
  flex-grow: 1;

  /* background: linear-gradient(#e5e6f1 30%, rgba(229, 230, 241, 0)),
    linear-gradient(rgba(229, 230, 241, 0), #e5e6f1 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      )
      0 100%; */
  background-color: #e5e6f1;
}
.megamenu-columns {
  column-count: 4;
  column-width: 185px;
}
.megamenu-items-a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.megamenu-items-a:hover {
  color: #181f63;
  text-decoration: underline;
}
