
/* #siteBtns {} */

#siteBtns * {
  box-sizing: border-box;
}

#siteBtns .btn-group-label {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 14px;
  float: none;
  margin-right: 5px;
}

#siteBtns > button {
  padding: 0;
  background-color: white;
  border: 0 none;
  border-radius: 0;
  background-image: none;
  text-shadow: none;
  color: #343434;
  cursor: pointer;
  min-width: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  float: none;
}
#siteBtns > button:focus,
#siteBtns > button:active {
  box-shadow: none;
}
#siteBtns > button.btn.btn-default.dropdown-toggle {
  border-radius: 0 !important;
  min-width: 1em !important;
  border: 0 none;
  display: inline-block;
  vertical-align: 0;
  line-height: 1;
  margin-left: 2px;
}
#siteBtns.open > button.btn.btn-default.dropdown-toggle {
  box-shadow: none;
}
#siteBtns.open > button.btn.btn-default.dropdown-toggle .caret {
  transform: rotate(180deg);
  border-top-color: #9b9b9b;
}
#siteBtns > ul.dropdown-menu {
  background-color: #dbdbdb;
  left: auto;
  right: 0;
  text-align: left;
}

.siteBtns_dropdownmenu-wrap {
  left: auto;
  right: 0;
  min-width: 450px;
  max-width: 100%;
  float: none;
  border: 1px solid #979797;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.28);
  padding-top: 0;
  border-radius: 0;
  font-family: "PT Sans";
}
.siteBtns_dropdownmenu-tabs {
  background-color: #005278;
  border: 2px solid #005278;
  padding: 5px;
  margin: -1px -1px 0 -1px;
  width: auto;
}
.siteBtns_dropdownmenu-tabbtn a {
  border-radius: 5px;
  background-color: #005278;
  border-color: #005278;

  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}
.nav > li.siteBtns_dropdownmenu-tabbtn > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #005278;
  color: #005278;
}
.nav > li.siteBtns_dropdownmenu-tabbtn > a:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: #005278;
  color: #005278;
}
.nav-pills > li.siteBtns_dropdownmenu-tabbtn.active > a {
  background-color: rgba(255, 255, 255, 0.75);
  color: #005278;
  font-weight: bold;
}
.siteBtns_dropdownmenu-search {
  padding: 1rem;
  position: relative;
  color: #6d7278;
}
.siteBtns_dropdownmenu-search input {
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #7e81be;
}
.siteBtns_dropdownmenu-search svg {
  position: absolute;
  top: 50%;
  right: 0;
  margin: -9px 12px 0 0;
}
.siteBtns_dropdownmenu-list {
  margin: 0;
  max-height: 350px;
  overflow: auto;
}
.siteBtns_dropdownmenu-list > li {
  line-height: 1;
}

.siteBtns_dropdownmenu-list > li > a {
  display: block;
  color: #212529;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  padding: 5px 1rem;
}
.siteBtns_dropdownmenu-list > li > a:hover {
  background-color: #bfc0df;
}
