#filters .btn-group-label {
  margin: 0;
  float: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.btn-checkbox {
  display: inline-block;
  background-image: none;
  background-color: #f4f4fd;
  border: 0 solid #f4f4fd;
  border-width: 0 0 5px 0;
  border-bottom-width: 5px;
  padding: 4px 6px 4px;
  border-radius: 0;
  text-shadow: none;
  color: #11175e;
  cursor: pointer;
  margin-right: 5px;
  box-sizing: border-box;
  position: relative;
}
.btn-checkbox:hover {
  background-color: #f4f4fd;
}
.btn-checkbox:active {
  background-color: #fff;
}
.btn-checkbox .btn-checkbox_indicator {
  height: 20px;
  width: 20px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #9797a7;
  box-sizing: border-box;
}

.btn-checkbox .btn-checkbox_indicator:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0px;
  width: 8px;
  height: 15px;
  border: solid #7e81be;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}
.btn-checkbox.is-checked .btn-checkbox_indicator:after {
  display: inline-block;
}
.btn-checkbox .btn-checkbox_text {
  display: inline-block;
  vertical-align: middle;
}
#filters .btn-checkbox.max-target-bkgd {
  border-color: #0091ff;
}
#filters .btn-checkbox.on-target-bkgd {
  border-color: #2ecc71;
}
#filters .btn-checkbox.under-target-bkgd {
  border-color: #f7b500;
}
#filters .btn-checkbox.off-target-bkgd {
  border-color: #e02020;
}
#filters .btn-checkbox.is-checked {
  border-width: 1px 1px 5px 1px;
  padding: 3px 5px 4px;
}

.iso2-item {
  position: relative;
  float: left;
  width: 230px;
  height: 220px;
  margin: 5px;
  padding: 5px;
  background: #888;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.iso2-item:hover {
  cursor: pointer;
}

/* tile colors */
.iso2-item.offtarget {
  background: #be001f;
}
.iso2-item.undertarget {
  background: #f1c40f;
}
.iso2-item.ontarget {
  background: #2ecc71;
}
.iso2-item.maxtarget {
  background: #0091ff;
}
.iso2-item .tilename {
  position: relative;
  color: #fff;
  top: 0;
  text-transform: none;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  height: 1px;
  padding: 0 8px;
}
.iso2-item .targetdiff {
  position: relative;
  left: 0;
  top: 49px;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100%;
  height: 75px;
}
.iso2-item .trend {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 50%;
  background-color: #aeb6b1;
  text-align: center;
  display: table;
  left: 50%;
}
.iso2-item .target {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 50%;
  background-color: #8b9790;
  text-align: center;
  display: table;
}
.iso2-item .targetstats,
.iso2-item .trendstats {
  vertical-align: top;
  display: table-cell;
}
.iso2-item .targettitle,
.iso2-item .trendtitle {
  text-transform: uppercase;
  font-size: 18px;
}
.iso2-item .trendtitle {
  margin-bottom: 9px;
}
.iso2-item .targetnumber {
  font-weight: bold;
  font-size: 30px;
  padding: 0px 0 0 0;
  position: relative;
  top: 2px;
  width: 110px;
  height: 56px;
}
.iso2-item .targetbar.upup {
  background: url("Images/trend-up-up.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.updown {
  background: url("Images/trend-up-down.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.upflat {
  background: url("Images/trend-up-flat.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.downdown {
  background: url("Images/trend-down-down.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.downflat {
  background: url("Images/trend-down-flat.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.downup {
  background: url("Images/trend-down-up.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.flatflat {
  background: url("Images/trend-flat-flat.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.flatup {
  background: url("Images/trend-flat-up.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.flatdown {
  background: url("Images/trend-flat-down.png") no-repeat center 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar.na {
  background: url("Images/trend-na.png") no-repeat center 6px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.iso2-item .targetbar {
  height: 42px;
  margin-bottom: 5px;
}
.iso2-item .targetbar img {
  width: 86px;
  height: 47px;
}

@media (max-width: 1023px) {
  #site {
    margin: 10px 0;
  }
  #filters.col-md-7 {
    width: 100%;
    text-align: left;
  }
  .isotope2 {
    margin: 0 auto;
    display: table;
    width: 660px;
  }
}

@media (max-width: 659px) {
  .isotope2 {
    margin: 0 30px;
    display: table;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .iso2-item {
    margin: 0 0 30px 0;
  }
  .isotope2 {
    margin: 0;
  }
}
